/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* DEVELOPER Akshar Patel, IS117-101, Spring 2021 */

#footer {
	color: white;
}

body {
	font-family: 'lato';
}

#foot {
	opacity: 80%;
}

#image {
	height: 350px;
	margin-left: 0px;
}

#text {
	text-align: center;
	margin-top: 20px;
}

.card {
	border-color: black;
	margin-top: 35px;
}

#color {
	color: rgb(54, 54, 54);
	text-align: center;
}

#margin {
	margin: -17px;
}

#less {
	margin-top: 17px;
}

#text-color {
	color: white;
}

#margin-bottom {
	margin-bottom: 80px;
}
